<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Школа глубокого обучения ФПМИ МФТИ</b></h3>

<h2 style="text-align: center;"><b>Домашнее задание. Библиотека <a href="http://pandas.pydata.org/">pandas</a></b></h2>

В этом задании вы проанализируете данные из Appstore

<img src="https://drive.google.com/uc?export=view&id=1F1Qajgj-dC4o4VI3Wm7fIGlOJA0a60_B" width=300 height=300>

In [ ]:
#!pip install pandas

In [2]:
import pandas as pd
import numpy as np

### Данные для задания: https://drive.google.com/file/d/1JY8l5nSu9O4GtMDpaOfH2Oowlpza3U-c/view?usp=sharing

In [3]:
data = pd.read_csv('BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [4]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [8]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

ageCategoriesCount = data.groupby(data["Age"])["Age"].unique().count()
print(ageCategoriesCount)

In [9]:
ageCategoriesCount = data.groupby(data["Age"])["Age"].unique().count()
print(ageCategoriesCount)

7

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [20]:
man_condition = data.Gender == "M"
city_condition = data.City_Category == "A"
# man_count = data[man_condition & city_condition].count()[0]
# print(man_count)

man_count2 = len(data.query("Gender == 'M' and City_Category == 'A'"))
print(man_count2)

109831

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [24]:
filtered_data = data[(data["Gender"] == "F") & (data["Age"] == "46-50")  & (data["Purchase"] > 20000)]

woman_count = len(filtered_data)
print(woman_count)

User_ID  Product_ID  Gender  Age    Occupation  City_Category  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  Product_Category_2  Product_Category_3  Purchase
1000127  P00059442   F       46-50  3           C              1                           1               6                   8.0                 16.0                20613       1
1002540  P00148642   F       46-50  6           B              3                           1               6                   10.0                13.0                20071       1
1004305  P00116142   F       46-50  17          B              1                           1               10                  13.0                16.0                23042       1
1004293  P00116142   F       46-50  9           B              0                           1               10                  13.0                16.0                23564       1
1004224  P00116942   F       46-50  1           C              1                           1               6                   10.0                16.0                20372       1
                                                                                                                                                                                  ..
1001477  P00148642   F       46-50  1           C              2                           0               6                   10.0                13.0                20392       1
         P00116142   F       46-50  1           C              2                           0               10                  13.0                16.0                23193       1
1001455  P00081142   F       46-50  0           B              1                           1               6                   8.0                 14.0                20331       1
1001428  P00115742   F       46-50  11          C              2                           1               6                   10.0                16.0                20024       1
1006003  P00310842   F       46-50  17          C              1                           0               6                   8.0                 10.0                20463       1
Length: 73, dtype: int64

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [5]:
product_category_3_is_null_df = data[data.Product_Category_3.isnull()]
print(len(product_category_3_is_null_df))

373299

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [10]:
total_customers_count = len(data)
ageCategories = data.groupby(data["Age"])["Age"].unique()

filtered_customers = data[((data.Gender == "M") & (data.Age == "26-35")) | ((data.Gender == "F") & ((data.Age == "36-45") | (data.Age == "46-50") | (data.Age == "51-55") | (data.Age == "55+")))]
filtered_customers2 = data[((data.Gender == "M") & (data.Age == "26-35")) | ((data.Gender == "F") & (data.Age > "36"))]

filtered_customers_count = len(filtered_customers)
filtered_customers2_count = len(filtered_customers2)

proportion = filtered_customers_count / total_customers_count
print(proportion)

proportion2 = filtered_customers2_count / total_customers_count
print(proportion2)

0.4077201963625676
0.4077201963625676

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).